<div class="mx-auto p-4 wrapper">
  <h1 class="mb-3 text-center">Template Driven Form</h1>
  <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- First Name -->
    <div class="mb-3">
      <label for="fname" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="fname"
        placeholder="Enter your first name"
        name="fname"
        ngModel
        required
        #fname="ngModel"
      />
      <span
        class="error"
        *ngIf="fname.invalid && (fname.touched || fname.dirty)"
      >
        First name is required.
      </span>
    </div>
    <!-- Last Name -->
    <div class="mb-3">
      <label for="lname" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lname"
        placeholder="Enter your last name"
        name="lname"
        ngModel
        required
        #lname="ngModel"
      />
      <span
        class="error"
        *ngIf="lname.invalid && (lname.touched || lname.dirty)"
      >
        Last name is required.
      </span>
    </div>
    <!-- Email -->
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter your email"
        name="email"
        ngModel
        required
        email
        #email="ngModel"
      />
      <div
        class="error"
        *ngIf="email.invalid && (email.touched || email.dirty)"
      >
        <span *ngIf="email.errors?.['required']">Email is required.</span>
        <span *ngIf="email.errors?.['email']">Email address is invalid.</span>
      </div>
    </div>
    <!-- Password -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter your password"
        name="password"
        ngModel
        required
        #password="ngModel"
      />
      <span
        class="error"
        *ngIf="password.invalid && (password.touched || password.dirty)"
      >
        Password is required.
      </span>
    </div>
    <!-- Gender -->
    <div class="mb-3">
      <p class="mb-2">Gender</p>
      <!-- Male -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="male"
          name="gender"
          value="Male"
          ngModel
          required
        />
        <label class="form-check-label" for="male">Male</label>
      </div>
      <!-- Female -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="female"
          name="gender"
          value="Female"
          ngModel
          required
        />
        <label class="form-check-label" for="female">Female</label>
      </div>
    </div>
    <!-- Location -->
    <div class="mb-3">
      <p class="mb-2">Select Location</p>
      <select
        class="form-select"
        id="location"
        name="location"
        [ngModel]="city"
        required
        #location="ngModel"
      >
        <option value="AHM">Ahmedabad</option>
        <option value="RKT">Rajkot</option>
        <option value="GNR">Gandhinagar</option>
        <option value="BRD">Baroda</option>
      </select>
      <span
        class="error"
        *ngIf="location.invalid && (location.touched || location.dirty)"
      >
        Location is required.
      </span>
    </div>
    <!-- Remember Me -->
    <div class="mb-3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="remember"
          name="remember"
          ngModel
        />
        <label class="form-check-label" for="remember">Remember me</label>
      </div>
    </div>
    <!-- Actions -->
    <div class="form-actions">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="tempForm.invalid"
      >
        Submit
      </button>
      <button type="button" class="btn btn-danger">Reset</button>
    </div>
  </form>
</div>
