<footer class="container-fluid px-0 py-5 bg-dark">
  <section class="container mb-3">
    <div class="row text-white text-center">
      <div
        class="col-xs col-sm-6 col-md-3 d-flex flex-column mb-4"
        *ngFor="let section of hyperlinkSections"
      >
        <span class="mb-2 fs-5 fw-semibold">{{ section.title }}</span>
        <a
          *ngFor="let link of section.hyperlinkList"
          [href]="link.href"
          class="mb-1 text-decoration-none text-white"
          >{{ link.title }}</a
        >
      </div>
    </div>
  </section>
  <section
    class="container d-flex flex-column flex-md-row align-items-md-center justify-content-md-between mb-5"
  >
    <div class="mb-2 mb-md-0">
      <p class="mb-0 text-white">Subscribe to stay updated</p>
    </div>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="email"
        id="subscribe"
        name="email"
        [value]="email"
        [(ngModel)]="email"
        placeholder="Enter your email"
      />
      <button class="btn btn-light" type="button" (click)="subscribe()">
        Subscribe
      </button>
    </form>
  </section>
  <section class="container">
    <p class="mb-0 text-center text-white">
      &copy; {{ currentYear }} BookShop.com, Inc. all rights reserved.
    </p>
  </section>
</footer>
