<section class="wrapper container p-5">
  <!-- Add Username -->
  <app-error-two (addUsernameEvent)="addUsername($event)" />
  <!-- Username List -->
  <div class="card">
    <div class="card-header">Users</div>
    <ul class="list-group list-group-flush">
      <ng-container [ngSwitch]="usernameList.length > 0">
        <ng-container *ngSwitchCase="true">
          <ng-container *ngFor="let username of usernameList; index as id">
            <app-error-three
              [user]="{ username, id }"
              (deleteUsernameEvent)="deleteUsername($event)"
            />
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <li class="list-group-item">No users</li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</section>
