<div class="wrapper mx-auto p-4">
  <ul class="mb-3 nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products" routerLinkActive="active">
        Products
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/account"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Account
      </a>
    </li>
  </ul>
  <router-outlet />
</div>
