.cards-wrapper {
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
	list-style-type: none;
}

// media queries

// tablet
@media screen and (min-width: 576px) {

	.cards-wrapper {
		grid-template-columns: 1fr 1fr;
	}

}

// desktop
@media screen and (min-width: 992px) {

	.cards-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}

}