main {
	display: flex;
	flex-direction: column;

	.section-primary {
		padding: 1.5rem;
		flex: 0%;
	}
	
	.section-secondary {
		flex: 100%;
	}
}

// media queries

// tablet
@media screen and (min-width: 576px) {

	main {
		flex-direction: column;
	}

}

// desktop
@media screen and (min-width: 992px) {

	main {
		flex-direction: row;

		.section-secondary {
			max-width: 250px;
		}
	}

}