<h4>Home</h4>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam veritatis
  molestiae perspiciatis fugiat architecto? Atque adipisci natus quidem mollitia
  ullam distinctio, maiores quas eos saepe asperiores aut quo, ad voluptates
  eligendi? Quisquam sunt eaque expedita ab sequi voluptatem deleniti mollitia
  cupiditate suscipit veritatis aut, dolore reprehenderit sed, eius culpa optio
  sit fuga? Adipisci nesciunt eligendi ipsa vitae iusto odit vero ut placeat,
  repudiandae praesentium voluptatibus perferendis impedit sed accusantium autem
  cumque architecto ex distinctio mollitia eaque laboriosam ab, ad quos ratione!
  Dolorum odio itaque dolore enim ad! Fuga hic expedita at asperiores dicta
  perspiciatis cupiditate voluptas nulla. Illum, quam incidunt.
</p>
<div class="row gy-3">
  <button class="btn btn-warning col-12" type="button" (click)="onLogin()">
    Login
  </button>
  <button class="btn btn-warning col-12" type="button" (click)="onSetAdmin()">
    Get Admin Privilege
  </button>
  <button
    class="btn btn-warning col-12"
    type="button"
    (click)="onRemoveAdmin()"
  >
    Revoke Admin Privilege
  </button>
  <button class="btn btn-primary col-12" type="button" routerLink="/products">
    Go To Products
  </button>
  <button class="btn btn-primary col-12" type="button" (click)="goToProducts()">
    Go To Products Programatically
  </button>
  <button
    class="btn btn-primary col-12"
    type="button"
    [routerLink]="['/products', '100', 'Laptop']"
    [queryParams]="{ isProductDetails: true, isAllowedEditing: false }"
    fragment="loading"
  >
    Go To ProductDetails with Query Params and Fragment
  </button>
  <button
    class="btn btn-primary col-12"
    type="button"
    (click)="goToProductDetailsWithQueryParamsAndFragment()"
  >
    Go To ProductDetails with Query Params and Fragment Programatically
  </button>
</div>
