<h4>Home</h4>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam veritatis
  molestiae perspiciatis fugiat architecto? Atque adipisci natus quidem mollitia
  ullam distinctio, maiores quas eos saepe asperiores aut quo, ad voluptates
  eligendi? Quisquam sunt eaque expedita ab sequi voluptatem deleniti mollitia
  cupiditate suscipit veritatis aut, dolore reprehenderit sed, eius culpa optio
  sit fuga? Adipisci nesciunt eligendi ipsa vitae iusto odit vero ut placeat,
  repudiandae praesentium voluptatibus perferendis impedit sed accusantium autem
  cumque architecto ex distinctio mollitia eaque laboriosam ab, ad quos ratione!
  Dolorum odio itaque dolore enim ad! Fuga hic expedita at asperiores dicta
  perspiciatis cupiditate voluptas nulla. Illum, quam incidunt.
</p>
<button class="btn btn-primary me-3" type="button" routerLink="/products">
  Go To Products
</button>
<button class="btn btn-primary" type="button" (click)="goToProducts()">
  Go To Products Programatically
</button>
